@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #151617;
  color: #F5F5F5;
}

body {
  font-family: var(--font-inter);
}

a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  :root {
    --font-inter: "Inter", system-ui, sans-serif;
    --font-space-grotesk: "Space Grotesk", system-ui, sans-serif;
    --font-jetbrains-mono: "JetBrains Mono", monospace;
  }
}

